/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/*
* Reset all original styles
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*     START OF CSS CHANGES     */

/*
    Background: #eae7d2
    Background Header, Menu: #51473d
    Border: #cecab9
    Text: #797066
*/
h1 {
    font: 2.5em "Times New Roman", serif;
    margin: 0.25em 0;
}
p {
    margin-top: 1em;
}
img {
    float: left;
    margin: 0.5em 0.4em 0em 0;
}
#container {
    width: 600px;
    overflow: hidden;
    background-color: #eae7d2;
    color: #797066;
    font-family: Verdana, sans-serif;
    margin: 0.5em auto 0 auto;
    border: 1px solid #cecab9;
}
#topbar, #menu {
    width: 100%;
    float: left;
    background-color: #51473d;
    display: block;
}
#topbar {
    font-size: 0.6em;
    font-style: italic;
    text-align: right;
    padding: 0.5em 0;
    color: #eae7d2;
}
#menu > a {
    background-image: url(pics/coffey.jpg);
    display: block;
    width: 600px;
    height: 200px;
    /* Hide Text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#menu ul {
    margin: 0.3em 0 0 0.75em;
}
#menu li {
    overflow: hidden;
    display: block;
    float: left;
    font-size: 0.8em;
    text-transform: capitalize;
    background-color: #797066;
    margin-left: 0.1em;
}
#menu li a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.75em 1.5em 0.5em 1.5em;
    width: 100%;
    color: #eae7d2;
    text-decoration: none;
}
#menu .active a {
    background-color: #eae7d2;
    color: #797066;
}
#menu li a:hover, #menu li a:focus {
    background-color: #9c9084;
    color: #eae7d2;
}
#maincontent {
    width: 348px;
    padding: 0.75em 0 0.5em 0.75em;
    margin-right: 0.8em;
    font-size: 0.8em;
    line-height: 1.6em;
    float: left;
}
#subcontent {
    width: 210px;
    font-size: 0.55em;
    line-height: 2.4em;
    border-left: 1px dashed #cecab9;
    padding-left: 1em;
    margin-top: 2em;
    float: left;
}
#subcontent h1 {
    font-size: 1.9em;
    margin: 0.5em 0 1em 0;
    color: #51473d;
}
#subcontent h2 {
    font: 1.6em "Times New Roman", serif;
    margin-top: 2em;
    color: #51473d;
}
#subcontent a {
    color: #51473d;
    font-size: 1.5em;
}
#bottomcontent {
    width: 100%;
    display: inline-block;
    font-size: 0.6em;
    margin: 0 0 2em 0.75em;
    font-style: italic;
}